/* Timer Box */
.holographic-clock-box {
  border-radius: 10px;
  padding: 15px;
  min-width: 100px;
  transition: transform 0.2s ease;
  border: 1.8px solid #00ffcc;
}

.holographic-clock-box:hover {
  transform: scale(1.05);
  background-color: black;
}

.glowing-number {
  font-family: 'VT323', monospace;
  font-size: 3rem;
  color: #00ffcc;
}

.glowing-number-enter {
  opacity: 0;
}

.glowing-number-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.glowing-number-exit {
  opacity: 1;
}

.glowing-number-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
